<form class="ui form">
    <h1 class="ui  header mt-10 red">Configure your content</h1>
    <div class="sixteen wide field">
        <div class="field">
            <label>Select Type</label>

            <select class="ui fluid dropdown" [(ngModel)]="this.utility.ViewType" name="Viewtype" (change)="this.utility.checkRoute()">
                <option value="Para">Paragraphs</option>
                <option value="Sent">Sentences</option>
                <!-- <option value="Detail" >Details</option> -->
            </select>
        </div>
        <div class="field" (change)="this.utility.checkRoute()">
            <label>Count</label>
            <input type="number" placeholder="Number of content" [(ngModel)]="this.utility.Count" name="count" min="1">
        </div>
        <!-- Paragraph -->
        <div class="field" (change)="this.utility.checkRoute()" *ngIf="this.utility.ViewType=='Para'">
            <label>Minimum number of sentences in paragraph</label>
            <input type="number" placeholder="Minimum number of sentences" [(ngModel)]="this.utility.MinSent" name="maxsent" min="1" [max]="this.utility.MaxSent">
        </div>
        <div class="field" (change)="this.utility.checkRoute()" *ngIf="this.utility.ViewType=='Para'">
            <label>Maximum number of sentences in paragraph</label>
            <input type="number" placeholder="Maximum number of sentences" [(ngModel)]="this.utility.MaxSent" name="minsent" [min]="this.utility.MinSent">
        </div>

        <!-- sentence -->
        <div class="field">
            <label>Minimum number of words in sentence</label>
            <input type="number" placeholder="Minimum number of words" [(ngModel)]="this.utility.MinWord" name="maxword" (change)="this.utility.checkRoute()" min="1" [max]="this.utility.MaxWord">
        </div>
        <div class="field">
            <label>Maximum number of words in sentence</label>
            <input type="number" placeholder="Maximum number of words" [(ngModel)]="this.utility.MaxWord" name="minword" (change)="this.utility.checkRoute()" [min]="this.utility.MinWord">
        </div>


        
    </div>
</form>