<div class="ui stackable grid container">
  <div class="ui message" style="margin-top: 20px; font-size: 16px;">
    <h1 class="header dividing" style="text-align: justify;">
      Lorem ipsum is used to denote the dummy text which doesn't make any sense but can be used as a placeholder. It is
      very difficult to come up with some random text while you are focusing on some other tasks like designing or
      testing also it will be very time-consuming if you write everything by yourself.To solve the problem lorem ipsum
      was introduced
    </h1>
    <h4 style="margin-top: 5px;" class="ui grey header">What you can do here?</h4>
    <div class="ui two column grid">
      <div class="row">
        <div class="column"><li>Generate dummy content(lorem ipsum) of your choice</li></div>
        <div class="column"><li>Copy HTML/TEXT to clipboard</li></div>
      </div>
    </div>
  </div>

  <div class="six wide column">
    <app-left-panel></app-left-panel>
  </div>
  <div class="ten wide column">
    <app-right-panel></app-right-panel>

  </div>
</div>